examples/multi-node-workflow.json
{
  "name": "Multi-Node Test Workflow",
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [250, 300],
      "parameters": {
        "path": "test-webhook",
        "responseMode": "responseNode"
      },
      "typeVersion": 1
    },
    {
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [450, 200],
      "parameters": {
        "url": "https://api.example.com/data",
        "method": "GET"
      },
      "typeVersion": 1
    },
    {
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [650, 200],
      "parameters": {
        "jsCode": "return items.map(item => ({ json: { ...item.json, processed: true } }));"
      },
      "typeVersion": 1
    },
    {
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [850, 200],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.processed}}",
              "value2": true
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1050, 100],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "typeVersion": 1
    },
    {
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1050, 300],
      "parameters": {
        "respondWith": "text",
        "responseBody": "Error processing request"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true
}
